apiVersion: v1
kind: Secret
metadata:
  name: backstage-secrets
  namespace: backstage
type: Opaque
stringData:
  # PostgreSQL credentials
  POSTGRES_USER: root
  POSTGRES_PASSWORD: loopliplap1278
  POSTGRES_DB: repos
  # GitHub Personal Access Token
  GITHUB_TOKEN: "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"
